@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer components {

.button {
  @apply py-2 px-4 rounded-lg bg-blue-500 text-white hover:bg-blue-600 transition-colors
}

}

[data-active="true"] {
  box-shadow: 0px 0px 5px 5px rgba(255, 255, 255, 0.25)
}
[data-active="false"] {
  box-shadow: 0px 0px 5px 5px transparent
}